// .nav {
//     border-bottom: 3px solid rgb(80, 80, 80, 0.2);
//     padding: 15px;
//     width: 100vw;
//     position: fixed;
//     top: 0%;
//     img {
//       width: 2rem;
//     }
//   }
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
}
  
  .priceContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 300px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  select {
    text-align: center;
  }
  